<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.situ.ems_spring.mapper.ProjectMapper">

    <select id="selectByPage" resultType="com.situ.ems_spring.pojo.Page.ProjectPage">
        SELECT *  FROM project
        <where>
            <if test="id!=null">
                AND id=#{id}
            </if>
            <if test="name!=null and name!=''">
                AND name LIKE CONCAT('%' , #{name},'%')
            </if>
            <if test="createTime!=null and endTime!=null">
                AND end_time BETWEEN #{createTime} AND #{endTime}
            </if>
        </where>
    </select>
</mapper>