<head>
	<title>Title</title>
	<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" >
	<script th:src="@{/static/jquery-2.1.4.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/static/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/static/mylayer.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/static/echarts.min.js}"></script>

</head>
<body>
    <div id="number" style="width: 600px;height:400px;"></div>
    <div id="clicknumber" style="width: 600px;height:400px;"></div>
        <script>
            $.post(
                "/employee/selectNumber",
                function(result){
                    var name =new Array();
                    var value = new Array();
                    $(result).each(function () {
                        name.push(this.name);
                        value.push(this.value);
                    })
                    console.log(name);
                    console.log(value);
                    var myChart = echarts.init(document.getElementById('number'));
                    var option = {
                        title: {
                            text: "各个职位的人数"
                        },
                        tooltip: {},
                        legend: {
                            data: ['人数']
                        },
                        xAxis: {
                            data: name
                        },
                        yAxis: {},
                        series: [
                            {
                                name: '人数',
                                type: 'bar',
                                data: value
                            }
                        ]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                },
                "json"
            )
        </script>

</body>
</html>
