<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.situ.emsvue.mapper.UserMapper">
    <update id="updatePassword">
        UPDATE users SET pwd=#{newPassword}
    </update>
    <update id="edit">
        UPDATE users
        <set>
            <if test="image!=null and image!= '' ">
                image =#{image},
            </if>
        </set>
    </update>
    <update id="updateStatus">
        UPDATE  users SET status=#{status} WHERE id=#{id}
    </update>
    <select id="login" resultType="com.situ.emsvue.pojo.entity.Users">
        SELECT * FROM users WHERE id=#{id} AND pwd=#{pwd} AND deleted=0
    </select>
    <select id="selectOldPassword" resultType="com.situ.emsvue.pojo.entity.Users">
        SELECT * FROM users WHERE id=#{id} AND pwd = #{oldPassword}
    </select>
    <select id="allInfo" resultType="com.situ.emsvue.pojo.VO.UserInfoVO">
        SELECT name,image,gender FROM users INNER JOIN employee ON users.id=employee.id WHERE users.id=#{id}
    </select>
</mapper>