<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.situ.emsvue.mapper.UserMapper">
    <update id="updatePassword">
        UPDATE users SET pwd=#{newPassword}
    </update>
    <select id="login" resultType="com.situ.emsvue.pojo.Users">
        SELECT * FROM users WHERE id=#{id} AND pwd=#{pwd}
    </select>
    <select id="selectOldPassword" resultType="com.situ.emsvue.pojo.Users">
        SELECT * FROM users WHERE id=#{id} AND pwd = #{oldPassword}
    </select>
</mapper>